#models
OPENAI_API_KEY =
AZURE_OPENAI_API_KEY =
AZURE_OPENAI_ENDPOINT =
AZURE_OPENAI_EMBEDDINGS_ENDPOINT =
AZURE_OPENAI_EMBEDDINGS_API_KEY =

#if getting web dump data from S3
BUCKET_NAME_RAW =
AWS_ACCESS_KEY =
AWS_SECRET_KEY =

#Langfuse
LANGFUSE_SECRET_KEY =
LANGFUSE_PUBLIC_KEY =
LANGFUSE_HOST =
LANGFUSE_USER_ID = #suggest 'admin' or your name if you want to filter out your traces from Langfuse, otherwise 'anon'

#authentication
AUTH_TOKEN_KEY =

#if ingesting data in web_search mode
GOOGLE_SEARCH_ID =
GOOGLE_SEARCH_API_KEY =
